@use './utilities/colors';


body{
    p{
        color:colors.$font !important
    }
    .gdlr-core-divider-line.gdlr-core-skin-divider{
        border-color:colors.$main-600;
        border-width:3px
    }
    
}

.hotale-body-wrapper{
    background-color: colors.$bgc !important
}

.rooms-container{
    // background-color: colors.$main-200;
    background-color: white;
}

.attractions-container,.cta-container,.testimonial-container,.attractions--second-container{
    background-color: white;
}


.tourmaster-price-wrap.tourmaster-with-bg{
    background-color: colors.$main-400 !important
}



.hotale-body-wrapper.hotale-with-frame, body.hotale-full .hotale-fixed-footer{
    margin:0
}


.btn{
    &--primary{
        background-color: colors.$main-400 !important;
    }
}