@use './utilities/colors';

.change-bgc{
    background-color: colors.$main-400 !important;
}

.nav__mobile{
    background-color: colors.$main-400;
}

.hamburger span, .hamburger::after, .hamburger::before{
    background-color: white;
}

.mmenu-custom-close::after{
    color:white
}

.hotale-mm-menu-wrap.hotale-navigation-font{
    background-color:  colors.$main-400 !important;
    & ul li a{
        color:white
    }
}



// DESKTOP

#menu-main-navigation-1 li a{
    color:black 
}