@use './utilities/colors';

.hotale-mm-menu-wrap.hotale-navigation-font{
    background-color:  colors.$main-400 !important;
    & ul li a{
        color:white
    }
}



// DESKTOP

#menu-main-navigation-1 li a{
    color:black !important
}